body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg {
    position: fixed;
    opacity: .666;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    top: 25%;
    height: 50%;
    width: 100%;
    transform: skewY(-30deg);
    z-index: -1;
    pointer-events: none;
}
.anchor {
    position: relative;
    top: -40px;
}
code {
    border-left: 5px solid #12c2e9;
    font-family: monospace;
    color: teal;
    display: block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    line-height: 150%;
    overflow: auto;
    white-space: nowrap;
    display: none;
}
.relative {
    position: relative;
}
.relative .button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.placeholder {
    border: 1px dashed grey;
    box-sizing: border-box;
    width: 45px;
    border-radius: 5px;
    height: 45px;
}
