body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg {
    position: fixed;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    top: 25%;
    height: 50%;
    width: 100%;
    transform: skewY(-30deg);
    z-index: -1;
    pointer-events: none;
}
.anchor {
    position: relative;
    top: -40px;
}
code {
    /* border-left: 5px solid teal; */
    font-family: monospace;
    color: teal;
    border-radius: 7px;
    box-sizing: border-box;
    display: block;
    padding: 13px 20px;
    background-color: rgba(0, 0, 0, .666);
    color: white;
    line-height: 150%;
    overflow: auto;
    white-space: nowrap;
    font-size: small;

    display: none;
}
.relative {
    position: relative;
}
.relative .button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.placeholder {
    border: 1px dashed rgba(0, 0, 0, .666);
    box-sizing: border-box;
    width: 45px;
    border-radius: 7px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 45px;
}
.placeholder_medium {
    width: 300px;
    max-width: 100%;
}

.snippet {
    font-family: monospace;
    font-size: small;
    background-color: rgba(0, 0, 0, .666);
    color: white;
    border-radius: 7px;
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    margin: 0 2px;
}
