@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
.shadow {
  box-shadow: 0 10px 30px rgba(41, 47, 54, 0.05);
}
.blur {
  background-color: rgba(255, 255, 255, 0.5) !important;
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
}
.u {
  text-decoration: underline !important;
}
.block {
  display: block;
  width: 100%;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.nowrap {
  white-space: nowrap !important;
}
.text {
  line-height: 175%;
}
[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.pointer {
  cursor: pointer !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.red {
  color: #f64f59 !important;
}
.green {
  color: #00af54 !important;
}
.black {
  color: #292f36 !important;
}
.white {
  color: white !important;
}
.blue {
  color: #007cbe !important;
}
.yellow {
  color: #fbaf00 !important;
}
.grow {
  flex-grow: 1 !important;
}
.shrink {
  flex-shrink: 1 !important;
}
.flex {
  display: flex !important;
}
.flex > *:not(:last-child) {
  margin-right: 22.5px;
}
@media (max-width: 48em) {
  .flex > *:not(:last-child) {
    margin-right: 11.25px;
  }
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  min-width: 320px;
  color: #606f80;
  background-color: #f1f4f8;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
h1:not(.box):not(.box-small),
h2:not(.box):not(.box-small),
h3:not(.box):not(.box-small),
h4:not(.box):not(.box-small),
h5:not(.box):not(.box-small) {
  margin-bottom: 0;
}
::-moz-selection {
  color: #292f36;
  background: #4ecdc4;
}
::selection {
  color: #292f36;
  background: #4ecdc4;
}
.box:not(:last-child) {
  margin-bottom: 45px;
}
.box-small:not(:last-child) {
  margin-bottom: 22.5px;
}
.box-large:not(:last-child) {
  margin-bottom: 90px;
}
.box-larger:not(:last-child) {
  margin-bottom: 135px;
}
.button {
  font-size: 12px;
  font-weight: bold;
  line-height: 45px;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: 45px;
  padding: 0 45px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: padding 0.3s;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-overflow: clip;
  color: white;
  border: 0;
  border-radius: 22.5px;
  outline: none;
  background-color: #292f36;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (max-width: 48em) {
  .button {
    padding: 0 22.5px;
  }
}
.button-black {
  color: white;
  border-color: #292f36 !important;
  background-color: #292f36 !important;
}
.button-black:before {
  border-color: white !important;
}
.button-white {
  color: #292f36;
  border-color: white !important;
  background-color: white !important;
}
.button-white:before {
  border-color: #292f36 !important;
}
.button-grey {
  color: white;
  border-color: #606f80 !important;
  background-color: #606f80 !important;
}
.button-grey:before {
  border-color: white !important;
}
.button-light {
  color: #292f36;
  border-color: #f1f4f8 !important;
  background-color: #f1f4f8 !important;
}
.button-light:before {
  border-color: #292f36 !important;
}
.button-teal {
  color: #292f36;
  border-color: #4ecdc4 !important;
  background-color: #4ecdc4 !important;
}
.button-teal:before {
  border-color: #292f36 !important;
}
.button-blue {
  color: white;
  border-color: #007cbe !important;
  background-color: #007cbe !important;
}
.button-blue:before {
  border-color: white !important;
}
.button-red {
  color: white;
  border-color: #f64f59 !important;
  background-color: #f64f59 !important;
}
.button-red:before {
  border-color: white !important;
}
.button-yellow {
  color: white;
  border-color: #fbaf00 !important;
  background-color: #fbaf00 !important;
}
.button-yellow:before {
  border-color: white !important;
}
.button-green {
  color: white;
  border-color: #00af54 !important;
  background-color: #00af54 !important;
}
.button-green:before {
  border-color: white !important;
}
.button-transparent {
  color: white;
  border-color: transparent !important;
  background-color: transparent !important;
}
.button-transparent:before {
  border-color: white !important;
}
.button-messenger {
  color: white;
  border-color: #0084ff !important;
  background-color: #0084ff !important;
}
.button-messenger:before {
  border-color: white !important;
}
.button-telegram {
  color: white;
  border-color: #08c !important;
  background-color: #08c !important;
}
.button-telegram:before {
  border-color: white !important;
}
.button-facebook {
  color: white;
  border-color: #3b5998 !important;
  background-color: #3b5998 !important;
}
.button-facebook:before {
  border-color: white !important;
}
.button-vk {
  color: white;
  border-color: #45668e !important;
  background-color: #45668e !important;
}
.button-vk:before {
  border-color: white !important;
}
.button-whatsapp {
  color: white;
  border-color: #075e54 !important;
  background-color: #075e54 !important;
}
.button-whatsapp:before {
  border-color: white !important;
}
.button-linkedin {
  color: white;
  border-color: #0077b5 !important;
  background-color: #0077b5 !important;
}
.button-linkedin:before {
  border-color: white !important;
}
.button-trustpilot {
  color: white;
  border-color: #00b67a !important;
  background-color: #00b67a !important;
}
.button-trustpilot:before {
  border-color: white !important;
}
.button.fa,
.button.fas,
.button.far {
  flex-grow: 0;
  flex-shrink: 0;
  width: 45px;
  min-width: 45px;
  padding: 0;
  text-align: center;
}
.button > i:last-child {
  margin-left: 9px;
}
.button > i:first-child {
  margin-right: 9px;
}
.button > i:last-child:first-child {
  margin: 0 !important;
  pointer-events: none;
}
.card {
  box-sizing: border-box;
  padding: 45px;
  transition: padding 0.3s;
  border-radius: 20px;
  background-color: white;
}
@media (max-width: 64em) {
  .card {
    padding: 45px 22.5px;
  }
}
.checkbox {
  display: block;
  min-height: 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox input {
  position: absolute;
  left: -9999px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox input:checked + span:before {
  border-color: #00af54;
  background-color: #00af54;
}
.checkbox input:checked + span:after {
  opacity: 1;
}
.checkbox span {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 175%;
}
.checkbox span:empty:after {
  top: 6px;
}
.checkbox span:empty:before {
  margin-right: 0;
}
.checkbox span:after {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 8px;
  height: 4px;
  margin-top: -4px;
  content: '';
  transform: rotate(-45deg);
  opacity: 0;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
.checkbox span:before {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 11.25px;
  content: '';
  border: 2px solid #606f80;
  border-radius: 5px;
}
.column,
.column-narrow {
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 45px;
  transition: padding 0.3s;
}
@media (max-width: 48em) {
  .column,
  .column-narrow {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}
.column-narrow {
  max-width: 1280px;
}
.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-offset-0,
.col-sm-offset-0,
.col-md-offset-0,
.col-lg-offset-0,
.col-xs-offset-1,
.col-sm-offset-1,
.col-md-offset-1,
.col-lg-offset-1,
.col-xs-offset-10,
.col-sm-offset-10,
.col-md-offset-10,
.col-lg-offset-10,
.col-xs-offset-11,
.col-sm-offset-11,
.col-md-offset-11,
.col-lg-offset-11,
.col-xs-offset-12,
.col-sm-offset-12,
.col-md-offset-12,
.col-lg-offset-12,
.col-xs-offset-2,
.col-sm-offset-2,
.col-md-offset-2,
.col-lg-offset-2,
.col-xs-offset-3,
.col-sm-offset-3,
.col-md-offset-3,
.col-lg-offset-3,
.col-xs-offset-4,
.col-sm-offset-4,
.col-md-offset-4,
.col-lg-offset-4,
.col-xs-offset-5,
.col-sm-offset-5,
.col-md-offset-5,
.col-lg-offset-5,
.col-xs-offset-6,
.col-sm-offset-6,
.col-md-offset-6,
.col-lg-offset-6,
.col-xs-offset-7,
.col-sm-offset-7,
.col-md-offset-7,
.col-lg-offset-7,
.col-xs-offset-8,
.col-sm-offset-8,
.col-md-offset-8,
.col-lg-offset-8,
.col-xs-offset-9,
.col-sm-offset-9,
.col-md-offset-9,
.col-lg-offset-9 {
  padding-right: 22.5px;
  padding-left: 22.5px;
  transition: padding 0.3s;
}
@media (max-width: 64em) {
  .col-xs,
  .col-sm,
  .col-md,
  .col-lg,
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-offset-0,
  .col-sm-offset-0,
  .col-md-offset-0,
  .col-lg-offset-0,
  .col-xs-offset-1,
  .col-sm-offset-1,
  .col-md-offset-1,
  .col-lg-offset-1,
  .col-xs-offset-10,
  .col-sm-offset-10,
  .col-md-offset-10,
  .col-lg-offset-10,
  .col-xs-offset-11,
  .col-sm-offset-11,
  .col-md-offset-11,
  .col-lg-offset-11,
  .col-xs-offset-12,
  .col-sm-offset-12,
  .col-md-offset-12,
  .col-lg-offset-12,
  .col-xs-offset-2,
  .col-sm-offset-2,
  .col-md-offset-2,
  .col-lg-offset-2,
  .col-xs-offset-3,
  .col-sm-offset-3,
  .col-md-offset-3,
  .col-lg-offset-3,
  .col-xs-offset-4,
  .col-sm-offset-4,
  .col-md-offset-4,
  .col-lg-offset-4,
  .col-xs-offset-5,
  .col-sm-offset-5,
  .col-md-offset-5,
  .col-lg-offset-5,
  .col-xs-offset-6,
  .col-sm-offset-6,
  .col-md-offset-6,
  .col-lg-offset-6,
  .col-xs-offset-7,
  .col-sm-offset-7,
  .col-md-offset-7,
  .col-lg-offset-7,
  .col-xs-offset-8,
  .col-sm-offset-8,
  .col-md-offset-8,
  .col-lg-offset-8,
  .col-xs-offset-9,
  .col-sm-offset-9,
  .col-md-offset-9,
  .col-lg-offset-9 {
    padding-right: 11.25px;
    padding-left: 11.25px;
  }
}
.row {
  margin-right: -22.5px;
  margin-left: -22.5px;
  transition: margin 0.3s;
}
@media (max-width: 64em) {
  .row {
    margin-right: -11.25px;
    margin-left: -11.25px;
  }
}
.row:not(.box):not(.box-small) {
  margin-bottom: -45px;
}
@media (max-width: 64em) {
  .row:not(.box):not(.box-small) {
    margin-bottom: -22.5px;
  }
}
.row.box,
.row.box-small {
  margin-bottom: 0;
}
.row > div {
  height: auto;
  margin-bottom: 45px;
}
@media (max-width: 64em) {
  .row > div {
    margin-bottom: 22.5px;
  }
}
.row > div > .card:first-child:last-child {
  height: 100%;
}
.hr {
  margin-top: 0;
  pointer-events: none;
  opacity: 0.75;
  border: 0;
  border-top: 1px solid rgba(96, 111, 128, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.hr:not(.box):not(.box-small):not(.box-large):not(.box-larger) {
  margin-bottom: 0;
}
.indicator {
  position: relative;
}
.indicator[indicator='']:after {
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
}
.indicator:after {
  font-family: sans-serif;
  font-size: 11px;
  line-height: 18px;
  position: absolute;
  top: -3px;
  right: -3px;
  display: block;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  content: attr(indicator);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: scale(0);
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  text-align: center;
  pointer-events: none;
  color: white;
  border-radius: 50%;
  background-color: #f64f59;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.input,
.input-textarea {
  line-height: 45px;
  box-sizing: border-box;
  max-width: 100%;
  height: 45px;
  padding: 0 22.5px;
  resize: none;
  border: 0;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 10px 30px rgba(41, 47, 54, 0.05);
}
.input-textarea {
  line-height: normal;
  min-height: 135px;
  padding: 22.5px;
}
.label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text a,
.link {
  text-decoration: none;
  color: #007cbe;
}
.text a:active,
.link:active {
  color: #fbaf00;
  border-color: #fbaf00;
}
.text a > i,
.link > i {
  font-size: 0.75em;
  vertical-align: baseline;
}
.text a > i:last-child,
.link > i:last-child {
  margin-left: 5px;
}
.text a > i:first-child,
.link > i:first-child {
  margin-right: 5px;
}
.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.75;
}
.loading,
.loading * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent !important;
}
.loading:before {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 11.25px;
  height: 11.25px;
  margin-top: -5.625px;
  margin-left: -5.625px;
  content: '';
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border: 2px solid white;
  border-top-color: transparent !important;
  border-radius: 50%;
}
.loading:not(.button):before {
  border: 2px solid #606f80;
}
@-webkit-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.popup {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  min-width: 500px;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 30px rgba(41, 47, 54, 0.05);
}
@media (max-width: 48em) {
  .popup {
    min-width: 280px;
  }
}
.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5) !important;
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
}
.progress {
  position: relative;
  width: 100%;
  height: 7.5px;
  border-radius: 20px;
  background: none;
  box-shadow: 0 10px 30px rgba(41, 47, 54, 0.05);
}
.progress::-webkit-progress-bar {
  height: 7.5px;
  margin: 0 auto;
  border-radius: 15px;
  background: #f1f4f8;
}
.progress::-webkit-progress-value {
  display: inline-block;
  float: left;
  height: 7.5px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-animation-name: progress-bar;
          animation-name: progress-bar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-radius: 20px;
  background: #007cbe;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes progress-bar {
  from {
    width: 0;
  }
}
@keyframes progress-bar {
  from {
    width: 0;
  }
}
.radio {
  position: relative;
  display: block;
  min-height: 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio input {
  position: absolute;
  left: -9999px;
}
.radio input:checked + span:before {
  border-color: #007cbe;
}
.radio input:checked + span:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  content: '';
  border-radius: 50%;
  background-color: #007cbe;
}
.radio span {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 175%;
}
.radio span:empty:after {
  top: 6px;
}
.radio span:empty:before {
  margin-right: 0;
}
.radio span:before {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 11.25px;
  content: '';
  border: 2px solid #606f80;
  border-radius: 50%;
}
.section,
.section-light {
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-light {
  background-color: #f1f4f8;
}
.section:not(.section-light) + .section:not(.section-light),
.section.section-light + .section.section-light {
  padding-top: 0;
}
.sticky {
  position: sticky;
  top: 45px;
}
.tabs {
  font-size: 12px;
  font-weight: bold;
  line-height: 45px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 22.5px;
  color: #292f36;
}
.tabs input {
  position: absolute;
  left: -9999px;
}
.tabs input:checked + label {
  color: white;
}
.tabs input:nth-of-type(1) ~ .tabs__glider {
  width: 100%;
}
.tabs input:nth-of-type(2):checked ~ .tabs__glider {
  transform: translate(100%);
}
.tabs input:nth-of-type(2) ~ .tabs__glider {
  width: 50%;
}
.tabs input:nth-of-type(3):checked ~ .tabs__glider {
  transform: translate(200%);
}
.tabs input:nth-of-type(3) ~ .tabs__glider {
  width: 33.33333333%;
}
.tabs input:nth-of-type(4):checked ~ .tabs__glider {
  transform: translate(300%);
}
.tabs input:nth-of-type(4) ~ .tabs__glider {
  width: 25%;
}
.tabs input:nth-of-type(5):checked ~ .tabs__glider {
  transform: translate(400%);
}
.tabs input:nth-of-type(5) ~ .tabs__glider {
  width: 20%;
}
.tabs input:nth-of-type(6):checked ~ .tabs__glider {
  transform: translate(500%);
}
.tabs__glider {
  position: absolute;
  z-index: 0;
  left: 0;
  height: inherit;
  transition: transform 0.3s;
  transform: translate(0);
  border-radius: 22.5px;
  background: #007cbe;
  box-shadow: 0 10px 30px rgba(0, 124, 190, 0.5);
}
.tabs label {
  z-index: 1;
  flex: 1;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.3s;
  text-align: center;
  border-radius: 22.5px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.title,
.subtitle {
  font-weight: 300;
  transition: font-size 0.3s;
  color: #292f36;
}
.title {
  font-size: 40px;
}
@media (max-width: 75em) {
  .title {
    font-size: 35.2px;
  }
}
@media (max-width: 64em) {
  .title {
    font-size: 30.8px;
  }
}
@media (max-width: 48em) {
  .title {
    font-size: 26.4px;
  }
}
.subtitle {
  font-size: 30px;
}
@media (max-width: 75em) {
  .subtitle {
    font-size: 26.4px;
  }
}
@media (max-width: 64em) {
  .subtitle {
    font-size: 23.1px;
  }
}
@media (max-width: 48em) {
  .subtitle {
    font-size: 19.8px;
  }
}
.toggle {
  display: block;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.toggle input {
  position: absolute;
  left: -9999px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle input:checked + span:after {
  left: 20.5px;
}
.toggle input:checked + span:before {
  border-color: #00af54;
  background-color: #00af54;
}
.toggle span {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 175%;
}
.toggle span:empty:before {
  margin-right: 0;
}
.toggle span:after {
  position: absolute;
  left: 4px;
  width: 20.5px;
  height: 20.5px;
  content: '';
  transition: all 0.3s;
  border-radius: 50%;
  background-color: white;
}
.toggle span:before {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 45px;
  height: 27px;
  margin-right: 11.25px;
  content: '';
  transition: all 0.3s;
  border: 2px solid #606f80;
  border-radius: 20px;
  background: #606f80;
}

