<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Elements.css by Anatoly Silko</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" integrity="sha512-YHuwZabI2zi0k7c9vtg8dK/63QB0hLvD4thw44dFo/TfBFVVQOqEG9WpviaEpbyvgOIYLXF1n7xDUfU3GDs0sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="elements.css">
        <link rel="stylesheet" href="demo.css">
    </head>
    <body>
        <div class="section column column_narrow" id="demo">
            <div class="card blur">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-3">
                        <div class="sticky text">

                            <div class="box">
                                <div class="subtitle box_small">Intro</div>
                                <ul>
                                    <li><a scroll class="link" href="#about"><span>About</span><i class="fas fa-link"></i></a></li>
                                    <li><a scroll class="link" href="#install"><span>Installation</span><i class="fas fa-link"></i></a></li>
                                </ul>
                            </div>
                            <div class="box">
                                <div class="subtitle box_small">Elements</div>
                                <ul>
                                    <list-item v-for="element in elements" :item="element"></list-item>
                                </ul>
                            </div>

                            <div class="box">
                                <div class="subtitle box_small">Helpers</div>
                                <ul>
                                    <list-item v-for="helper in helpers" :item="helper"></list-item>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <!-- Right -->
                    <div class="col-xs-12 col-sm-8 col-lg-9">

                        <div class="flex box3x bottom-xs">
                            <div class="title flex_grow">Elements.css</div>
                            <div>
                                <a class="github-button" href="https://github.com/0notole/elements" data-icon="octicon-star" data-show-count="true" aria-label="Star 0notole/elements on GitHub">Star</a>
                            </div>
                        </div>



                        <div class="anchor" id="about"></div>
                        <div class="box flex middle-xs">
                            <div class="subtitle">About</div>
                            <a scroll href="#button" class="link"><i class="fas fa-link"></i></a>
                        </div>
                        <div class="text box">
                            This package was born in a pursue to create a simple-to-use and reliable UI tool to create beautiful and meaningful interfaces. Yes, this is yet another good CSS library.
                        </div>
                        <div class="text box">
                            Now, <span class="snippet">elements.css</span> encourages you to use it with the following packages:
                        </div>

                        <ul class="text box">
                            <li><a href="https://necolas.github.io/normalize.css/" target="_blank">Normalize.css</a> to reset all browser defaults</li>
                            <li><a href="http://flexboxgrid.com" target="_blank">Flexboxgrid</a> for hassle-free responsive columns</li>
                            <li><a href="https://fontawesome.com" target="_blank">Fontawesome</a> for some fantastic icons.</li>
                        </ul>

                        <div class="text box3x">
                            These packages are present on this page for the sake of an extensive demo.
                        </div>


                        <div class="anchor" id="install"></div>
                        <div class="box flex middle-xs">
                            <div class="subtitle">Installation</div>
                            <a scroll href="#button" class="link"><i class="fas fa-link"></i></a>
                        </div>

                        <div class="text box">
                            The installation is fairly simple, just add <span class="snippet">@0notole/elements.css</span> to your <span class="snippet">package.json</span> file or install via npm:
                        </div>

                        <code class="box">npm i @0notole/elements.css</code>

                        <div class="text box3x">
                            You also have the option of downloading <span class="snippet">elements.min.css</span> and including it into your project manually. Stay tuned for CDN!
                        </div>



                        <div class="anchor" id="button"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Button</div>
                                <a scroll href="#button" class="link"><i class="fas fa-link"></i></a>
                            </div>

                            <div class="text box">
                                This is a vital part of any CSS Framework and the classname is quite straightforward: <span class="snippet">.button</span>.
                                A button can have an icon enclosed, also it is possible to have just an icon within a circle button.
                            </div>

                            <div class="row box">
                                <div class="col-xs-12 col-lg-6">
                                    <button class="button box_small">Basic Button</button>
                                    <code>
                                        <button class="button">Basic Button</button>
                                    </code>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <button class="button button_green box_small">OK</button>
                                    <code>
                                        <button class="button button_green">OK</button>
                                    </code>
                                </div>
                            </div>

                            <div class="row box">


                                <div class="col-xs-12 col-lg-6">
                                    <button class="button button_blue box_small">
                                        <span>With Icon</span>
                                        <i class="fa fa-rocket"></i>
                                    </button>
                                    <code>
                                        <button class="button button_blue">
                                            <span>With Icon</span>
                                            <i class="fa fa-rocket"></i>
                                        </button>
                                    </code>
                                </div>

                                <div class="col-xs-12 col-lg-6">
                                    <button class="box_small button fa fa-laptop"></button>
                                    <code>
                                        <button class="button fa fa-laptop"></button>
                                    </code>
                                </div>
                            </div>

                        </div>


                        <div class="anchor" id="card"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Card</div>
                                <a scroll href="#card" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                A card is a white block for displaying content. Might be blurred by using the <span class="snippet">.blur</span> helper class.
                            </div>
                            <div class="box_small">
                                <div class="row middle-xs">
                                    <div class="col-xs-12 col-sm-6 col-md-4"><div class="card center-xs">Basic Card</div></div>
                                    <div class="col-xs-12 col-sm-6 col-md-4"><div class="card center-xs shadow">With Shadow</div></div>
                                    <div class="col-xs-12 col-sm-6 col-md-4"><div class="card center-xs blur">Blurred Card</div></div>
                                </div>
                            </div>
                            <code>
                                <div class="card center-xs">Basic Card</div>
                                <div class="card center-xs shadow">With Shadow</div>
                                <div class="card center-xs blur">Blurred Card</div>
                            </code>
                        </div>


                        <div class="anchor" id="checkbox"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Checkbox</div>
                                <a scroll href="#checkbox" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                Elements.css offers a native no-JS checkboxes and toggles – just wrap your <span class="snippet">input[type=checkbox]</span> with a <span class="snippet">.label</span> and add a <span class="snippet">span</span> inside (because of pseudo-elements).
                            </div>
                            <div class="row middle-xs">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="box_small">
                                        <label class="checkbox box_small">
                                            <input type="checkbox" checked>
                                            <span>Ticked by Default</span>
                                        </label>
                                        <code>
                                            <label class="checkbox box_small">
                                                <input type="checkbox" checked>
                                                <span>Ticked by Default</span>
                                            </label>
                                        </code>
                                    </div>
                                    <div class="box_small">
                                        <label class="checkbox box_small">
                                            <input type="checkbox">
                                            <span>Unticked by Default</span>
                                        </label>
                                        <code>
                                            <label class="checkbox box_small">
                                                <input type="checkbox">
                                                <span>Unticked by Default</span>
                                            </label>
                                        </code>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <div class="box_small">
                                        <label class="checkbox box_small" disabled>
                                            <input type="checkbox" checked>
                                            <span>Disabled Checkbox</span>
                                        </label>
                                        <code>
                                            <label class="checkbox box_small" disabled>
                                                <input type="checkbox" checked>
                                                <span>Disabled Checkbox</span>
                                            </label>
                                        </code>
                                    </div>
                                    <div class="box_small">
                                        <label class="checkbox box_small" disabled>
                                            <input type="checkbox">
                                            <span>Disabled Checkbox</span>
                                        </label>
                                        <code>
                                            <label class="checkbox box_small" disabled>
                                                <input type="checkbox">
                                                <span>Disabled Checkbox</span>
                                            </label>
                                        </code>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="anchor" id="column"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Central Column</div>
                                <a scroll href="#column" class="link"><i class="fas fa-link"></i></a>
                            </div>
                        </div>


                        <div class="anchor" id="hr"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Horisontal Line</div>
                                <a scroll href="#hr" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="box text">
                                Just a normal embossed horisontal line with no margins by default. The <span class="snippet">.box</span> class is available to use with it.
                            </div>
                            <hr class="hr box_small">
                            <code>
                                <hr class="hr">
                            </code>
                        </div>


                        <div class="anchor" id="input"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Input</div>
                                <a scroll href="#input" class="link"><i class="fas fa-link"></i></a>
                            </div>

                            <div class="box">
                                <input type="text" class="input shadow box_small" placeholder="Why?">
                                <code>
                                    <input type="text" class="input shadow" placeholder="Why?">
                                </code>
                            </div>

                            <div class="box">
                                <input type="text" class="input shadow box_small" placeholder="Why?">
                                <code>
                                    <input type="text" class="input shadow" placeholder="Why?">
                                </code>
                            </div>

                            <div class="box">
                                <textarea class="input input_textarea shadow box_small" placeholder="Tell me why?"></textarea>
                                <code>
                                    <textarea class="input input_textarea shadow"></textarea>
                                </code>
                            </div>

                        </div>


                        <div class="anchor" id="label"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Label</div>
                                <a scroll href="#label" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                This label can be used with inputs and for everything else like labelling cards.
                            </div>
                            <div class="label box_small">Test Label</div>
                            <code>
                                <div class="label">Test Label</div>
                            </code>
                        </div>


                        <div class="box3x" id="link">
                            <div class="box subtitle">Link</div>
                            <div class="box">
                                <div class="box_small"><a href="#" class="link">Test link</a></div>
                                <code>
                                    <a href="#" class="link">Test link</a>
                                </code>
                            </div>
                            <div class="text box">Or any link within a <span class="snippet">.text</span> block:</div>
                            <div class="text box_small">
                                Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt <span class="snippet">test</span> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                            <code>
                                <div class="text">
                                    Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </code>
                        </div>


                        <div class="anchor" id="popup"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Popup</div>
                                <a scroll href="#popup" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="box">
                                <button class="button button_yellow shadow" onclick="popup(); return false;">
                                    <span>Demo Popup</span>
                                    <i class="far fa-window-restore"></i>
                                </button>
                            </div>
                            <code>
                                <div class="popup"></div>
                                <div class="overlay"></div>
                            </code>
                        </div>


                        <div class="anchor" id="progress"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Progress</div>
                                <a scroll href="#progress" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="row box_small">
                                <div class="col-xs-12 col-sm-6">
                                    <progress value="33" max="100" class="progress shadow"></progress>
                                </div>
                            </div>
                            <code>
                                <progress value="33" max="100" class="progress"></progress>
                            </code>
                        </div>


                        <div class="anchor" id="radio"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Radio</div>
                                <a scroll href="#radio" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <label class="radio box_small">
                                <input type="radio" name="radio" checked>
                                <span>First Option</span>
                            </label>
                            <label class="radio box_small">
                                <input type="radio" name="radio">
                                <span>Another Option</span>
                            </label>
                            <code>
                                <label class="radio box_small">
                                    <input type="radio" name="in" checked>
                                    <span>First Option</span>
                                </label>
                                <label class="radio box_small">
                                    <input type="radio" name="in">
                                    <span>Another Option</span>
                                </label>
                            </code>
                        </div>


                        <div class="anchor" id="section"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Section</div>
                                <a scroll href="#section" class="link"><i class="fas fa-link"></i></a>
                            </div>
                        </div>


                        <div class="anchor" id="tabs"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Tabs</div>
                                <a scroll href="#tabs" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                Pure-CSS tabs with a sliding element to highlight the active tab. You can use up to 5 tabs:
                            </div>
                            <div class="row box_small">
                                <div class="col-xs-12 col-md-8 col-lg-6">
                                    <div class="tabs">
                                        <input name="tabs" type="radio" id="first" checked>
                                        <label for="first">Option</label>
                                        <input name="tabs" type="radio" id="second">
                                        <label for="second">Another</label>
                                        <div class="tabs__glider"></div>
                                    </div>
                                </div>
                            </div>
                            <code>
                                <div class="tabs">
                                    <input name="test" type="radio" id="first" checked>
                                    <label for="first">Option</label>
                                    <input name="test" type="radio" id="second">
                                    <label for="second">Another</label>
                                    <div class="tabs__glider"></div>
                                </div>
                            </code>
                        </div>


                        <div class="anchor" id="title"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Title</div>
                                <a scroll href="#title" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="box_small">
                                <div class="box_small title">H1 Title</div>
                                <div class="box_small subtitle">H2 Title</div>
                            </div>
                            <code>
                                <div class="title">H1 Title</div>
                                <div class="subtitle">H2 Title</div>
                            </code>
                        </div>


                        <div class="anchor" id="toggle"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Toggle</div>
                                <a scroll href="#toggle" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                The toggle element, as well as the regular checkbox is based on the <span class="snippet">input[type=checkbox]</span> element and <span class="snippet">::before</span> and <span class="snippet">::after</span> pseudo-element of the overarching label.
                            </div>
                            <div class="box">
                                <label class="toggle box_small">
                                    <input type="checkbox" checked>
                                    <span>Ticked by Default</span>
                                </label>
                                <code>
                                    <label class="toggle">
                                        <input type="checkbox" checked>
                                        <span>Ticked by Default</span>
                                    </label>
                                </code>
                            </div>
                        </div>



                        <div class="anchor" id="blur"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Blur</div>
                                <a scroll href="#blur" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                This is a helper class to make the background of anything (ideally, cards) blurred. A 50% transparent white background and a <span class="snippet">backdrop-filter</span>.
                            </div>
                        </div>


                        <div class="anchor" id="box"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Box</div>
                                <a scroll href="#box" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                The <span class="snippet">.box</span> class is one of the key elements of this package. It allows piling blocks and elements without thinking about <span class="snippet">margin-top</span> and <span class="snippet">margin-bottom</span>. The rule is simple – every item gets a standard <span class="snippet">margin-bottom</span> except for the very last one.
                            </div>
                            <div class="placeholder placeholder_medium box"></div>
                            <div class="box">
                                <div class="placeholder placeholder_medium box_small"></div>
                                <div class="placeholder placeholder_medium box_small"></div>
                            </div>
                            <div class="placeholder placeholder_medium box"></div>
                            <code>
                                <thing class="box"></thing>
                                <thing class="box"></thing>
                            </code>
                        </div>


                        <div class="anchor" id="flex"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Flex</div>
                                <a scroll href="#flex" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text box">
                                A small helper class to make anything flex without more complicated columns.
                            </div>
                            <div class="box">
                                <div class="flex box_small">
                                    <div class="placeholder"></div>
                                    <div class="button fa fa-user"></div>
                                    <div class="placeholder"></div>
                                    <div class="button button_teal">Button</div>
                                </div>
                                <code>
                                    <span class="flex">
                                        <thing></thing>
                                        <thing></thing>
                                    </span>
                                </code>
                            </div>
                        </div>


                        <div class="anchor" id="flexboxgrid"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Flexboxgrid</div>
                                <a scroll href="#flexboxgrid" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text">
                                <a href="http://flexboxgrid.com" class="link" target="_blank">Flexboxgrid</a> is supposed to be used and elements.css suggests a few tweaks and visual improvements.
                            </div>
                        </div>


                        <div class="anchor" id="indicator"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Badge Indicator / Counter</div>
                                <a scroll href="#indicator" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="box">
                                <div class="box_small">
                                    <button class="button button_light shadow indicator" indicator>
                                        <i class="fa fa-bell"></i>
                                        <span>Alerts</span>
                                    </button>
                                </div>
                                <code>
                                    <button class="button button_yellow shadow indicator" indicator>
                                        <i class="fa fa-bell"></i>
                                        <span>Alerts</span>
                                    </button>
                                </code>
                            </div>
                            <div class="box">
                                <div class="box_small">
                                    <button class="button button_white shadow fa fa-bell indicator" indicator="3"></button>
                                </div>
                                <code>
                                    <button class="button button_white shadow fa fa-bell indicator" indicator="3"></button>
                                </code>
                            </div>
                        </div>


                        <div class="anchor" id="sticky"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Sticky Stickiness</div>
                                <a scroll href="#sticky" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="text">This class makes an element sticky within the boundaries of the parent block. Please, notice, no parent blocks must be positioned 'relative'.</div>
                        </div>


                        <div class="anchor" id="other"></div>
                        <div class="box3x">
                            <div class="box flex middle-xs">
                                <div class="subtitle">Other Helper Classes</div>
                                <a scroll href="#sticky" class="link"><i class="fas fa-link"></i></a>
                            </div>
                            <div class="row text">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.shadow</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.block</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.inline-block</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.inline</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.nowrap</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.text</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.pointer</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.absolute</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.relative</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.red</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.green</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.black</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.blue</span></div>
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nowrap"><span class="snippet">.yellow</span></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>

        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="demo.js" charset="utf-8"></script>

    </body>
</html>
