.box
{
    &:not(:last-child)
    {
        margin-bottom: @gap;
    }
    &_small:not(:last-child)
    {
        margin-bottom: (@gap / 2);
    }
    &2x:not(:last-child)
    {
        margin-bottom: (@gap * 2);
    }
    &3x:not(:last-child)
    {
        margin-bottom: (@gap * 3);
    }
}
