@spinner: (@gap / 4);

.button
{
    font-size: (@font * .8);
    font-weight: bold;
    line-height: @gap;

    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;

    box-sizing: border-box;
    max-width: 100%;
    height: @gap;
    padding: 0 @gap;

    cursor: pointer;
    transition: padding @duration;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
    border-radius: @corner;
    outline: none;
    background-color: @black;

    .xs({
        padding: 0 (@gap / 2);
    });

    &.fa
    {
        width: @gap;
        padding: 0;

        text-align: center;
    }

    & > i
    {
        &:last-child
        {
            margin-left: (@gap / 5);
        }
        &:first-child
        {
            margin-right: (@gap / 5);
        }
        &:last-child:first-child
        {
            margin: 0 !important;

            pointer-events: none;
        }
    }

    &_loading
    {
        position: relative;

        pointer-events: none;

        opacity: .75;
        color: transparent !important;

        &:before
        {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;

            box-sizing: border-box;
            width: @spinner;
            height: @spinner;
            margin-top: (@spinner / -2);
            margin-left: (@spinner / -2);

            content: '';
            animation-name: loading;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            border: 2px solid white;
            border-top-color: transparent !important;
            border-radius: 50%;
        }
    }
}

@keyframes loading
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
