.button
{
    font-weight: bold;
    line-height: @gap;

    display: inline-block;

    box-sizing: border-box;
    max-width: 100%;
    height: @gap;
    padding: 0 (@gap);

    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;

    color: white;
    border-radius: @corner;
    outline: none;
    background-color: @black;
}
