.card
{
    box-sizing: border-box;
    padding: @gap;

    transition: padding @duration;

    border-radius: @corner * 1.5;
    background-color: white;

    .xs({
        padding: @gap (@gap / 2);
    });

    &_blur
    {
        background-color: fade(white, 50%);

        -webkit-backdrop-filter: blur(@gap);
                backdrop-filter: blur(@gap);
    }
}
