.column
{
    &,
    &-narrow
    {
        box-sizing: border-box;
        width: 100%;
        max-width: 1920px;
        margin-right: auto;
        margin-left: auto;
        padding-right: @gap;
        padding-left: @gap;

        transition: padding @duration;

        .xs({
            padding-right: (@gap / 2);
            padding-left: (@gap / 2);
        });
    }

    &-narrow
    {
        max-width: 1280px;
    }
}
