.column
{
    box-sizing: border-box;
    padding-right: @gap;
    padding-left: @gap;

    transition: padding @duration;

    .xs({
        padding-right: (@gap / 2);
        padding-left: (@gap / 2);
    });
}
