.hr
{
    margin-top: 0;

    pointer-events: none;

    opacity: .75;
    border: 0;
    border-top: 1px solid fade(@grey, 20%);
    border-bottom: 1px solid fade(white, 50%);

    &:not(.box):not(.box_small):not(.box2x):not(.box3x)
    {
        margin-bottom: 0;
    }
}
