.section
{
    &,
    &-light
    {
        box-sizing: border-box;
        padding-top: (@gap * 2);
        padding-bottom: (@gap * 2);
    }

    &-light
    {
        background-color: @light;
    }

    & + .section:not(.section-light)
    {
        padding-top: 0;
    }
}
