.toggle
{
    input
    {
        position: absolute;

        user-select: none;

                appearance: none;
        -webkit-appearance: none;
           -moz-appearance: none;
    }

    input:checked
    {
        & + span:after
        {
            left: ((@gap / 2) - 2px);
        }
        & + span:before
        {
            border-color: @green;
            background-color: @green;
        }
    }

    span
    {
        position: relative;

        display: flex;
        align-items: center;

        cursor: pointer;
        user-select: none;

        .text();

        &:empty:before
        {
            margin-right: 0;
        }

        &:after
        {
            position: absolute;
            left: 4px;

            width: ((@gap / 2) - 2px);
            height: ((@gap / 2) - 2px);

            content: '';
            transition: all @duration;

            border-radius: 50%;
            background-color: white;
        }

        &:before
        {
            display: inline-block;
            flex-grow: 0;
            flex-shrink: 0;

            box-sizing: border-box;
            width: (@gap);
            height: (@gap * .6);
            margin-right: (@gap / 4);

            content: '';
            transition: all @duration;

            border: 2px solid @grey;
            border-radius: @corner;
            background: @grey;
        }
    }
}
