.shadow
{
    .shadow();
}

.block
{
    display: block;

    width: 100%;
}

.nowrap
{
    white-space: nowrap;
}

.text
{
    .text();
}

[disabled]
{
    pointer-events: none;

    opacity: .5;
}

.red
{
    color: @red !important;
}

.green
{
    color: @green !important;
}

.black
{
    color: @black !important;
}

.blue
{
    color: @blue !important;
}

.yellow
{
    color: @yellow !important;
}
