.shadow (@color: @black, @opacity: 5%)
{
    box-shadow: 0 10px 30px fade(@color, @opacity);
}

.text ()
{
    line-height: 175%;
}

.text-reduction (@size)
{
    font-size: @size;

    .md({
        font-size: (@size * .88);
    });
    .sm({
        font-size: (@size * .77);
    });
    .xs({
        font-size: (@size * .66);
    });
}


.button (@modifier, @color, @text: white)
{
    &_@{modifier} {

        color: @text;
        border-color: @color !important;
        background-color: @color !important;

        &:before {
            border-color: @text !important;
        }

    }
}

.blur () {
    background-color: fade(white, 50%) !important;

    -webkit-backdrop-filter: blur(@gap);
            backdrop-filter: blur(@gap);
}
